<h1>Limerick Creation Based on User Prompt</h1>
    <pre>Your prompt: <%=userprompt%></pre>
    <br>
    <pre style="border:thin solid black"><%=response%></pre>
    <a href="/promptengineering/response">Make another Limerick</a>
    <br>
    <a href="/promptengineering">Back to Index Page</a>