<h1>Limerick Creation Based on User Prompt</h1>
    <p>The below form takes a user Prompt and turns it into a Limerick</p>
    <form method="post" action="/promptengineering/response">
        <textarea name="prompt" placeholder="prompt"></textarea><br>
        <input type="submit" value = "get response">
    </form> <br>
    <a href="/promptengineering">Back to Index Page</a>