<h1>Team Page</h1>
    <b>Nathan Weiss </b>
    <p> I created this alone so just me this time. I am an Applied Math
        and Computer Science major who enjoys watching soccer and playing 
        video games. Fun Fact: I was on the varsity fencing team in high
        school
    </p>
    <a href="/promptengineering/">Back to Index Page</a>